<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Starting Android 13 we need to ask notification permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Needed for full screen intent in incoming call notifications -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- To vibrate while receiving an incoming call -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Needed for foreground service
    (https://developer.android.com/guide/components/foreground-services) -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- Needed for Android 14
    https://developer.android.com/about/versions/14/behavior-changes-14#fgs-types -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <!-- Required for foreground service started when a push is being received,
    without it app won't be able to access network if data saver is ON (for example) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- Needed to keep a permanent foreground service and keep app alive to be able to receive
    messages & calls for third party accounts for which push notifications aren't available,
    and starting Android 15 dataSync is limited to 6 hours per day
    and can't be used with RECEIVE_BOOT_COMPLETED intent either -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!-- Needed for auto start at boot if keep alive service is enabled -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


  <application>
        <activity
            android:name=".IncomingCallFullNotificationActivity"
            android:enabled="true"
            android:launchMode="singleTask"
            android:exported="false" >
        </activity>

        <activity
          android:name=".IncomingCallNotificationActivity"
          android:enabled="true"
          android:launchMode="singleTask"
          android:taskAffinity=""
          android:excludeFromRecents="true"
          android:exported="false" >
        </activity>

        <activity
          android:name=".CallInProgressNotificationActivity"
          android:enabled="true"
          android:launchMode="singleTask"
          android:taskAffinity=""
          android:excludeFromRecents="true"
          android:exported="false" >
        </activity>

      <service
            android:name=".IncomingCallNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone|phoneCall" />

      <service
        android:name=".CallInProgressNotificationService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="microphone|phoneCall" />

      <service
          android:name=".PushNotificationService"
          android:enabled="true"
          android:exported="false">
          <intent-filter>
              <action android:name="com.google.firebase.MESSAGING_EVENT" />
          </intent-filter>
      </service>
    </application>

</manifest>
