<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />

    <application>
        <activity
            android:name=".IncomingCallFullNotificationActivity"
            android:enabled="true"
            android:launchMode="singleTask"
            android:exported="false" >
        </activity>

        <activity
          android:name=".IncomingCallNotificationActivity"
          android:enabled="true"
          android:launchMode="singleTask"
          android:taskAffinity=""
          android:excludeFromRecents="true"
          android:exported="false" >
        </activity>

        <activity
          android:name=".CallInProgressNotificationActivity"
          android:enabled="true"
          android:launchMode="singleTask"
          android:taskAffinity=""
          android:excludeFromRecents="true"
          android:exported="false" >
        </activity>

      <service
            android:name=".IncomingCallNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone|phoneCall" />

      <service
        android:name=".CallInProgressNotificationService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="microphone|phoneCall" />

        <service android:name=".PushNotificationService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
